/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: .9em;
  margin: 1em auto;
  width:900px;
}

/* The pane holding the image */
.pane>*  {
  float:left;
}
.pane>table {
  margin:1em;
}
.pane>table td {
  text-align: right;
  padding-right: .5em;
}
pre.code {
  padding:1em;
  margin:0;
  background-color: #eee;
  border:1px dashed #ccc;
}

/* Override some jrac css */
.jrac_viewport {
  width:440px;
  height:330px;
}
